* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  background-color: #000000;
}

.menu-container {
  color: #fff;
  background-color: #000000;  /* Blue */
  padding: 20px;
  display: flex;
  justify-content: center;
}

.menu {
  background-color: #FFFFFF;  /* For debugging */
  width: 900px;
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 20px;
  display: flex;
  align-items: center;
}

.links {
  border: 1px solid #fff;  /* For debugging */
  width: 650px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.button {
  background-color: #ff8c00;
  color: #FFFFFF;
  width: 180px;
  height: 75px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2em;
  display : flex;
  align-items : center;
  justify-content : center;

}

.active {
  background-color: #5e9918;
}

.topic {
  margin-left: 20px;
}
